# this is to get around the memory limit on glitch.com
# https://docs.npmjs.com/cli/v6/configuring-npm/npmrc
# https://docs.npmjs.com/cli/v6/using-npm/config#node-options
node-options=--max-old-space-size=500
