<div class="wt-mb-xs-5">
    <div class="wt-bg-turquoise-tint">
      <h1
        class="wt-text-heading-01 wt-text-center-xs wt-pb-xs-1 wt-pb-md-2 wt-pr-xs-2 wt-pl-xs-2 wt-pt-xs-4 wt-pt-md-5 wt-text-black"
      >
        Find things you'll love. Support independent sellers. Only on
        Etsy.
      </h1>
      <div
        data-appears-component-name="Homepage_Vesta_ApiSpec_ContentfulSearchBubbles"
      >
        <div
          class="wt-body-max-width wt-pl-xs-1 wt-pr-xs-1 wt-pl-md-6 wt-pr-md-6 appears-ready"
        >
          <h2
            class="wt-text-title-02 wt-text-center-xs wt-pb-xs-2 wt-text-black"
          >
            Everyday finds
          </h2>
          <div class="wt-grid wt-grid--block wt-justify-content-center">
            <div
              class="shopping-window wt-grid__item-xs-4 wt-grid__item-lg-2 wt-text-center-xs wt-break-word wt-pb-xs-3 wt-pl-md-3 wt-pr-md-3"
            >
              <a
                class="wt-text-caption wt-arrow-link wt-arrow-link--forward wt-width-full wt-text-black"
                (click)="onViewFaceMask()"
                href="javascript:void(0)"
              >
                <img
                  class="max-width-160 wt-circle wt-width-full wt-horizontal-center wt-mb-xs-2"
                  alt=""
                  src="https://i.etsystatic.com/22899963/r/il/c8d8d7/2697206720/il_300x300.2697206720_3zvc.jpg"
                />
                Face masks
              </a>
            </div>
            <div
              class="shopping-window wt-grid__item-xs-4 wt-grid__item-lg-2 wt-text-center-xs wt-break-word wt-pb-xs-3 wt-pl-md-3 wt-pr-md-3"
            >
              <a
                class="wt-text-caption wt-arrow-link wt-arrow-link--forward wt-width-full wt-text-black"
                href="javascript:void(0)"
              >
                <img
                  class="max-width-160 wt-circle wt-width-full wt-horizontal-center wt-mb-xs-2"
                  alt=""
                  src="https://i.etsystatic.com/6507355/r/il/3abe81/2502439474/il_300x300.2502439474_brve.jpg"
                />
                Wall decor
              </a>
            </div>
            <div
              class="shopping-window wt-grid__item-xs-4 wt-grid__item-lg-2 wt-text-center-xs wt-break-word wt-pb-xs-3 wt-pl-md-3 wt-pr-md-3"
            >
              <a
                class="wt-text-caption wt-arrow-link wt-arrow-link--forward wt-width-full wt-text-black"
                href="javascript:void(0)"
              >
                <img
                  class="max-width-160 wt-circle wt-width-full wt-horizontal-center wt-mb-xs-2"
                  alt=""
                  src="https://i.etsystatic.com/8331303/r/il/dec4ed/2753449716/il_300x300.2753449716_i5j3.jpg"
                />
                Gift Ideas
              </a>
            </div>
            <div
              class="shopping-window wt-grid__item-xs-4 wt-grid__item-lg-2 wt-text-center-xs wt-break-word wt-pb-xs-3 wt-pl-md-3 wt-pr-md-3"
            >
              <a
                class="wt-text-caption wt-arrow-link wt-arrow-link--forward wt-width-full wt-text-black"
                href="javascript:void(0)"
              >
                <img
                  class="max-width-160 wt-circle wt-width-full wt-horizontal-center wt-mb-xs-2"
                  alt=""
                  src="https://i.etsystatic.com/12418300/r/il/da5710/2446305498/il_300x300.2446305498_opq0.jpg"
                />
                Outdoor &amp; garden
              </a>
            </div>
            <div
              class="shopping-window wt-grid__item-xs-4 wt-grid__item-lg-2 wt-text-center-xs wt-break-word wt-pb-xs-3 wt-pl-md-3 wt-pr-md-3"
            >
              <a
                class="wt-text-caption wt-arrow-link wt-arrow-link--forward wt-width-full wt-text-black"
                href="javascript:void(0)"
              >
                <img
                  class="max-width-160 wt-circle wt-width-full wt-horizontal-center wt-mb-xs-2"
                  alt=""
                  src="https://i.etsystatic.com/17985171/r/il/a1b142/2257804059/il_300x300.2257804059_5vgm.jpg"
                />
                Self-care
              </a>
            </div>
            <div
              class="shopping-window wt-grid__item-xs-4 wt-grid__item-lg-2 wt-text-center-xs wt-break-word wt-pb-xs-3 wt-pl-md-3 wt-pr-md-3"
            >
              <a
                class="wt-text-caption wt-arrow-link wt-arrow-link--forward wt-width-full wt-text-black"
                href="javascript:void(0)"
              >
                <img
                  class="max-width-160 wt-circle wt-width-full wt-horizontal-center wt-mb-xs-2"
                  alt=""
                  src="https://i.etsystatic.com/10172021/r/il/e75e3d/1348381458/il_300x300.1348381458_8ro0.jpg"
                />
                Craft kits
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>