<div class="wt-mb-xs-10 vesta-mb-lg-15 appears-ready">
  <div class="wt-grid wt-body-max-width">
    <div class="wt-grid__item-xs-12">
      <div
        class="wt-bg-beeswax-tint vesta-hp-full-width-banner wt-position-relative wt-p-xs-6 wt-overflow-hidden what-is-etsy-container"
      >
        <div class="wt-width-full">
          <span
            class="composite-shape wt-position-absolute what-is-etsy-left-blue-light line-height-0 wt-z-index-negative-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class=""
              aria-hidden="true"
              viewBox="0 0 200 300"
              preserveAspectRatio="xMidYMid meet"
              focusable="false"
              width="200"
              height="300"
              version="1.1"
              xmlns:ns1=""
              ns1:ns1:xmlns:svgjs="http://svgjs.com/svgjs"
              xmlns:ns2=""
              ns2:xmlns:ns1=""
            >
              <defs id="what-is-etsy-left-blue-light-Defs1002">
                <clipPath
                  id="what-is-etsy-left-blue-light-ClipPath1019"
                >
                  <path
                    class=""
                    id="what-is-etsy-left-blue-light-Path1009"
                    fill="blue"
                    d="M 0.9 94.3 c 0 0 -5.7 -39.7 39.7 -59.5 c 18.7 -4.6 78.4 -14 124.4 26.8 c 37.4 32.9 41.7 44.7 24.9 78.4 c -6.6 11.4 -24.8 29.7 -81.8 29.7 c -33.2 -0.6 -64.8 -12.9 -78.5 -25.8 C 10.2 129.4 2.9 113.4 0.9 94.3"
                  ></path>
                </clipPath>
              </defs>
              <g
                id="what-is-etsy-left-blue-light-G1008"
                transform="matrix(1 0 0 1 -99 100)"
              >
                <image
                  id="what-is-etsy-left-blue-light-Image1010"
                  style="transform-origin: 150px 150px"
                  clip-path='url("#what-is-etsy-left-blue-light-ClipPath1019")'
                  transform="matrix(1.06066 1.06066 -1.06066 1.06066 0 0)"
                  width="200"
                  height="200"
                  xlink="http://www.w3.org/1999/xlink"
                  href="assets/blue-texture.jpg"
                  alt=""
                ></image>
              </g></svg
          ></span>
          <span
            class="composite-shape wt-position-absolute what-is-etsy-right-top line-height-0 wt-z-index-negative-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class=""
              aria-hidden="true"
              viewBox="0 0 200 200"
              preserveAspectRatio="xMidYMid meet"
              focusable="false"
              width="200"
              height="200"
              version="1.1"
              xmlns:ns3=""
              ns3:ns2:xmlns:svgjs="http://svgjs.com/svgjs"
              xmlns:ns4=""
              ns4:xmlns:ns2=""
            >
              <defs id="what-is-etsy-right-top-Defs1021">
                <clipPath id="what-is-etsy-right-top-ClipPath1033">
                  <path
                    class=""
                    id="what-is-etsy-right-top-Path1023"
                    fill="#faa129"
                    d="M 126.4 161 c -3 -3.7 -9 -12.5 -9 -12.5 L 114 141 c 0 0 -4 -12.4 -4.3 -17.1 c -0.6 -9.3 1.9 -16 5.6 -24.5 c 7.2 -16.3 21.8 -27.1 40.5 -31.8 l 3.8 -1.5 l 1.2 -1.4 l -14.5 -48.9 l -4.9 -12.1 c -2.9 0.5 -8.4 2.9 -11.1 3.6 c -12.1 3.2 -22 8.6 -32.1 13.9 C 87 27.8 69.3 45.2 69.3 45.2 S 52.8 62.3 47.8 74.8 c -1.6 4.7 -3 9.5 -4 14.3 C 42 96 40.7 111.6 39.4 119 c -1.4 8 2.8 27.8 2.8 27.8 s 3 11.6 5.7 18.7 c 4.4 11.3 10.8 21.8 18.9 30.9 c 0 0 24.3 -12.4 26.2 -13.9 s 16.4 -9 17.6 -9.6 c 1.2 -0.6 12.6 -4.4 12.6 -4.4 l 6 -2.8 c 0.2 -0.3 0.3 -0.7 0.4 -1.1 C 129.6 164.4 126.5 161 126.4 161"
                  ></path>
                </clipPath>
              </defs>
              <g
                id="what-is-etsy-right-top-G1022"
                transform="matrix(1 0 0 1 0 0)"
              >
                <image
                  id="what-is-etsy-right-top-Image1024"
                  style="transform-origin: 100px 100px"
                  clip-path='url("#what-is-etsy-right-top-ClipPath1033")'
                  transform="matrix(1 0 0 1 0 0)"
                  width="200"
                  height="200"
                  xlink="http://www.w3.org/1999/xlink"
                  href="assets/yellow-texture.jpg"
                  alt=""
                ></image>
              </g></svg
          ></span>

          <span
            class="composite-shape wt-position-absolute what-is-etsy-right-bottom line-height-0 wt-z-index-negative-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class=""
              aria-hidden="true"
              viewBox="0 0 300 200"
              preserveAspectRatio="xMidYMid meet"
              focusable="false"
              width="300"
              height="200"
              version="1.1"
              xmlns:ns5=""
              ns5:ns3:xmlns:svgjs="http://svgjs.com/svgjs"
              xmlns:ns6=""
              ns6:xmlns:ns3=""
            >
              <defs id="what-is-etsy-right-bottom-Defs1033">
                <clipPath id="what-is-etsy-right-bottom-ClipPath1045">
                  <path
                    class=""
                    id="what-is-etsy-right-bottom-Path1035"
                    fill="#f1641e"
                    d="M -1 46.5 l 8.6 52.6 l 9.9 59.8 l 72.9 -6 l 106.4 -7.3 l 4.1 -47 L 201 41 l -106 2 L -1 46.5 Z"
                  ></path>
                </clipPath>
              </defs>
              <g
                id="what-is-etsy-right-bottom-G1034"
                transform="matrix(1 0 0 1 100 100)"
              >
                <image
                  id="what-is-etsy-right-bottom-Image1036"
                  style="transform-origin: 140px 140px"
                  clip-path='url("#what-is-etsy-right-bottom-ClipPath1045")'
                  transform="matrix(1.37873 -0.243107 0.243107 1.37873 0 0)"
                  width="200"
                  height="200"
                  xlink="http://www.w3.org/1999/xlink"
                  href="assets/orange-texture.jpg"
                  alt=""
                ></image>
              </g></svg
          ></span>

          <span
            class="composite-shape wt-position-absolute what-is-etsy-left-blue-dark line-height-0 wt-z-index-negative-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class=""
              aria-hidden="true"
              viewBox="0 0 200 200"
              preserveAspectRatio="xMidYMid meet"
              focusable="false"
              width="200"
              height="200"
              version="1.1"
              xmlns:ns7=""
              ns7:ns4:xmlns:svgjs="http://svgjs.com/svgjs"
              xmlns:ns8=""
              ns8:xmlns:ns4=""
            >
              <defs id="what-is-etsy-left-blue-dark-Defs1047">
                <clipPath
                  id="what-is-etsy-left-blue-dark-ClipPath1059"
                >
                  <path
                    class=""
                    id="what-is-etsy-left-blue-dark-Path1049"
                    fill="#232347"
                    d="M 192.9 74.8 c -2.1 -5.3 -3.9 -10.8 -5.3 -16.4 c -3.8 -16.9 -24.3 -38.6 -33.2 -46.7 c -8.9 -8.1 -26.8 -9.5 -38.6 -7.5 C 93.6 7.8 71.4 9 51.9 21.2 C 47.3 24.1 27.7 39 22.7 43.3 C 10.7 53.7 2.5 66.1 2.2 83.6 c -1 8.3 3.3 17.4 2.7 26.4 c -1.6 26.1 13.6 45.1 26.8 65 c 7.5 11.3 60.8 22.8 70.8 21.6 c 14.7 -1.8 29.1 -5.4 42.8 -10.9 c 11.2 -4.2 20.5 -12.4 26.1 -23.1 c 1.8 -3 3.8 -5.9 6.2 -8.5 c 19.6 -23.7 25.8 -49.9 15.5 -79.3"
                  ></path>
                </clipPath>
              </defs>
              <g
                id="what-is-etsy-left-blue-dark-G1048"
                transform="matrix(1 0 0 1 50 20)"
              >
                <image
                  id="what-is-etsy-left-blue-dark-Image1050"
                  style="transform-origin: 100px 100px"
                  clip-path='url("#what-is-etsy-left-blue-dark-ClipPath1059")'
                  transform="matrix(0.3 0 0 0.3 0 0)"
                  width="200"
                  height="200"
                  xlink="http://www.w3.org/1999/xlink"
                  href="assets/blue-circle.jpg"
                  alt=""
                ></image>
              </g></svg
          ></span>
        </div>

        <div
          class="wt-text-center-xs wt-body-max-width wt-pt-xs-3 wt-pb-xs-5 wt-pt-xl-6 wt-pb-xl-6"
        >
          <h2 class="wt-text-heading-02 wt-mb-xs-2">What is Etsy?</h2>
          <a class="wt-text-link" href="javascript:void(0)">
            Read our wonderfully weird story
          </a>

          <div class="wt-grid wt-pt-xs-6 wt-pl-xs-3 wt-pr-xs-3">
            <div
              class="wt-grid__item-md-10 wt-grid__item-offset-md-1 wt-grid__item-lg-8 wt-grid__item-offset-lg-2 wt-grid__item-offset-xl-0 wt-grid__item-xl-4 wt-mb-xs-4 wt-mb-lg-6 wt-mb-xl-2 wt-pr-sm-4 wt-pl-sm-4 wt-pr-xs-2 wt-pl-xs-2"
            >
              <h3 class="wt-text-heading-01 wt-mb-xs-1">
                A one-of-a-kind community
              </h3>
              <p class="wt-text-body-01">
                Etsy is a global online marketplace, where people come
                together to make, sell, buy and collect unique items.
              </p>
            </div>
            <div
              class="wt-grid__item-md-10 wt-grid__item-offset-md-1 wt-grid__item-lg-8 wt-grid__item-offset-lg-2 wt-grid__item-offset-xl-0 wt-grid__item-xl-4 wt-mb-xs-4 wt-mb-lg-6 wt-mb-xl-2 wt-pr-sm-4 wt-pl-sm-4 wt-pr-xs-2 wt-pl-xs-2"
            >
              <h3 class="wt-text-heading-01 wt-mb-xs-1">
                Support independent creators
              </h3>
              <p class="wt-text-body-01">
                There’s no Etsy warehouse – just millions of people
                selling the things they love. We make the whole
                process easy, helping you connect directly with makers
                to find something extraordinary.
              </p>
            </div>
            <div
              class="wt-grid__item-md-10 wt-grid__item-offset-md-1 wt-grid__item-lg-8 wt-grid__item-offset-lg-2 wt-grid__item-offset-xl-0 wt-grid__item-xl-4 wt-mb-xs-4 wt-mb-lg-6 wt-mb-xl-2 wt-pr-sm-4 wt-pl-sm-4 wt-pr-xs-2 wt-pl-xs-2"
            >
              <h3 class="wt-text-heading-01 wt-mb-xs-1">
                Peace of mind
              </h3>
              <p class="wt-text-body-01">
                Your privacy is the highest priority of our dedicated
                team. And if you ever need assistance, we are always
                ready to step in for support.
              </p>
            </div>
          </div>
          <div>
            <h4 class="wt-text-title-02 wt-mt-xs-1 wt-mt-xl-4">
              Have a question? Well, we’ve got some answers.
            </h4>
            <a
              class="wt-mt-xs-2 button wt-btn wt-text-black wt-btn--outline"
              href="javascript:void(0)"
              >Go to Help Center</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
