<div class="wt-mb-xs-10 vesta-mb-lg-15 appears-ready">
  <div
    class="wt-grid wt-body-max-width wt-pr-xs-1 wt-pl-xs-1 wt-pr-md-2 wt-pl-md-2 wt-pr-lg-3 wt-pl-lg-3"
  >
    <div
      class="wt-grid__item-xs-12 wt-pr-xs-1 wt-pl-xs-1 wt-pr-md-2 wt-pl-md-2 wt-pr-lg-3 wt-pl-lg-3"
    >
      <div
        class="
"
      >
        <div class="wt-mb-xs-2">
          <div
            class="wt-hide-md wt-show-lg wt-display-flex-lg wt-justify-content-space-between"
          >
            <div>
              <h2 class="wt-text-title-01 wt-display-inline-block">
                Shop our selections
              </h2>
              <span class="wt-text-caption wt-pl-lg-2"
                >Items hand-picked by our editors</span
              >
            </div>
          </div>
          <div class="wt-show-xs wt-hide-lg">
            <h2 class="wt-text-title-01 wt-text-center-xs">
              Shop our selections
            </h2>
            <p class="wt-text-caption wt-text-center-xs wt-pl-lg-2">
              Items hand-picked by our editors
            </p>
          </div>
        </div>
        <ul
          class="wt-grid wt-grid--block wt-justify-content-flex-start wt-list-unstyled"
        >
          <li
            class="wt-grid__item-xs-6 wt-grid__item-md-4 wt-grid__item-lg-2"
          >
            <a
              class="shop-for-gifts-card-link wt-display-block wt-arrow-link wt-height-full wt-rounded-02 wt-b-xs"
              href="javascript:void(0)"
            >
              <div
                class="shop-for-gifts-card-img placeholder placeholder-landscape"
              >
                <img
                  class="wt-display-block placeholder-content"
                  alt=""
                  src="https://i.etsystatic.com/20229932/d/il/bc47b3/1933171419/il_680x540.1933171419_5ro5.jpg?version=0"
                  srcset="
                    https://i.etsystatic.com/20229932/d/il/bc47b3/1933171419/il_680x540.1933171419_5ro5.jpg?version=0 2x,
                    https://i.etsystatic.com/20229932/d/il/bc47b3/1933171419/il_340x270.1933171419_5ro5.jpg?version=0 1x
                  "
                  width="100%"
                />
              </div>
              <p
                class="shop-for-gifts-card-title wt-text-truncate--multi-line"
              >
                Anniversary gifts
              </p>
            </a>
          </li>
          <li
            class="wt-grid__item-xs-6 wt-grid__item-md-4 wt-grid__item-lg-2"
          >
            <a
              class="shop-for-gifts-card-link wt-display-block wt-arrow-link wt-height-full wt-rounded-02 wt-b-xs"
              href="javascript:void(0)"
            >
              <div
                class="shop-for-gifts-card-img placeholder placeholder-landscape"
              >
                <img
                  class="wt-display-block placeholder-content"
                  alt=""
                  src="https://i.etsystatic.com/20229932/d/il/092933/1934431711/il_680x540.1934431711_mpda.jpg?version=0"
                  srcset="
                    https://i.etsystatic.com/20229932/d/il/092933/1934431711/il_680x540.1934431711_mpda.jpg?version=0 2x,
                    https://i.etsystatic.com/20229932/d/il/092933/1934431711/il_340x270.1934431711_mpda.jpg?version=0 1x
                  "
                  width="100%"
                />
              </div>
              <p
                class="shop-for-gifts-card-title wt-text-truncate--multi-line"
              >
                Gifts for him
              </p>
            </a>
          </li>
          <li
            class="wt-grid__item-xs-6 wt-grid__item-md-4 wt-grid__item-lg-2"
          >
            <a
              class="shop-for-gifts-card-link wt-display-block wt-arrow-link wt-height-full wt-rounded-02 wt-b-xs"
              href="javascript:void(0)"
            >
              <div
                class="shop-for-gifts-card-img placeholder placeholder-landscape"
              >
                <img
                  class="wt-display-block placeholder-content"
                  alt=""
                  src="https://i.etsystatic.com/22736935/d/il/811b25/2956135898/il_680x540.2956135898_m6le.jpg?version=0"
                  srcset="
                    https://i.etsystatic.com/22736935/d/il/811b25/2956135898/il_680x540.2956135898_m6le.jpg?version=0 2x,
                    https://i.etsystatic.com/22736935/d/il/811b25/2956135898/il_340x270.2956135898_m6le.jpg?version=0 1x
                  "
                  width="100%"
                />
              </div>
              <p
                class="shop-for-gifts-card-title wt-text-truncate--multi-line"
              >
                Gifts for her
              </p>
            </a>
          </li>
          <li
            class="wt-grid__item-xs-6 wt-grid__item-md-4 wt-grid__item-lg-2"
          >
            <a
              class="shop-for-gifts-card-link wt-display-block wt-arrow-link wt-height-full wt-rounded-02 wt-b-xs"
              href="javascript:void(0)"
            >
              <div
                class="shop-for-gifts-card-img placeholder placeholder-landscape"
              >
                <img
                  class="wt-display-block placeholder-content"
                  alt=""
                  src="https://i.etsystatic.com/24935001/d/il/0e9505/2962798390/il_680x540.2962798390_e0lz.jpg?version=0"
                  srcset="
                    https://i.etsystatic.com/24935001/d/il/0e9505/2962798390/il_680x540.2962798390_e0lz.jpg?version=0 2x,
                    https://i.etsystatic.com/24935001/d/il/0e9505/2962798390/il_340x270.2962798390_e0lz.jpg?version=0 1x
                  "
                  width="100%"
                />
              </div>
              <p
                class="shop-for-gifts-card-title wt-text-truncate--multi-line"
              >
                Personalised gift ideas
              </p>
            </a>
          </li>
          <li
            class="wt-grid__item-xs-6 wt-grid__item-md-4 wt-grid__item-lg-2"
          >
            <a
              class="shop-for-gifts-card-link wt-display-block wt-arrow-link wt-height-full wt-rounded-02 wt-b-xs"
              href="javascript:void(0)"
            >
              <div
                class="shop-for-gifts-card-img placeholder placeholder-landscape"
              >
                <img
                  class="wt-display-block placeholder-content"
                  alt=""
                  src="https://i.etsystatic.com/20229932/d/il/a3c4fc/1933089063/il_680x540.1933089063_c538.jpg?version=0"
                  srcset="
                    https://i.etsystatic.com/20229932/d/il/a3c4fc/1933089063/il_680x540.1933089063_c538.jpg?version=0 2x,
                    https://i.etsystatic.com/20229932/d/il/a3c4fc/1933089063/il_340x270.1933089063_c538.jpg?version=0 1x
                  "
                  width="100%"
                />
              </div>
              <p
                class="shop-for-gifts-card-title wt-text-truncate--multi-line"
              >
                Wedding gifts
              </p>
            </a>
          </li>
          <li
            class="wt-grid__item-xs-6 wt-grid__item-md-4 wt-grid__item-lg-2"
          >
            <a
              class="shop-for-gifts-card-link wt-display-block wt-arrow-link wt-height-full wt-rounded-02 wt-b-xs"
              href="javascript:void(0)"
            >
              <div
                class="shop-for-gifts-card-img placeholder placeholder-landscape"
              >
                <img
                  class="wt-display-block placeholder-content"
                  alt=""
                  src="https://i.etsystatic.com/14095873/d/il/8cf1a9/2935580500/il_680x540.2935580500_iha9.jpg?version=0"
                  srcset="
                    https://i.etsystatic.com/14095873/d/il/8cf1a9/2935580500/il_680x540.2935580500_iha9.jpg?version=0 2x,
                    https://i.etsystatic.com/14095873/d/il/8cf1a9/2935580500/il_340x270.2935580500_iha9.jpg?version=0 1x
                  "
                  width="100%"
                />
              </div>
              <p
                class="shop-for-gifts-card-title wt-text-truncate--multi-line"
              >
                Housewarming gifts
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
