<button
  class="wt-btn wt-btn--small wt-btn--transparent wt-mr-xs-1 inline-overlay-trigger signin-header-action select-signin"
  (click)="openModal()"
>
  <div *ngIf="authService.isLoggedIn() && userAvatar" style="display: flex;">
    <img class="wt-circle wt-horizontal-center"
        src="{{ userAvatar }}" alt="{{ userDisplayName }}"
        width="35em" height="35em">
    <span>[Log out]</span>
  </div>
  <div *ngIf="authService.isLoggedIn() && !userAvatar" style="display: flex;">
    <p class="wt-label wt-horizontal-center">
      {{ userDisplayName }}
      <sup>[Log out]</sup>
    </p>
  </div>
  <div *ngIf="!authService.isLoggedIn()" class="wt-label">
    Sign in
  </div>
</button>

<jw-modal id="{{ loginModalId }}">
  <div
    class="transitional-wide bg-white guest no-touch is-responsive en-GB MYR MY is-global-nav js-focus-within wt-focus-visible wt-body-no-scroll"
    style="top: 0px; padding-right: 17px"
  >
    <div id="wt-modal-container" aria-hidden="false">
      <div
        class="wt-overlay wt-overlay--has-close-icon wt-overlay--will-animate"
        id="join-neu-overlay"
        role="dialog"
        aria-hidden="false"
        aria-labelledby="join-neu-overlay-title"
        aria-label="Sign In or Register Overlay"
        aria-modal="true"
      >
        <div
          class="wt-overlay__modal wt-overlay--animation-done"
          style="max-width: 384px"
        >
          <button
            class="wt-btn wt-btn--transparent wt-btn--icon wt-overlay__close-icon wt-btn--light"
            type="button"
            (click)="closeModal();"
          >
            <span class="etsy-icon" aria-label="Close"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                viewBox="0 0 24 24"
                focusable="false"
              >
                <path
                  d="M 13.414 12 l 6.293 -6.293 a 1 1 0 0 0 -1.414 -1.414 L 12 10.586 L 5.707 4.293 A 1 1 0 0 0 4.293 5.707 L 10.586 12 L 4.293 18.293 a 1 1 0 1 0 1.414 1.414 L 12 13.414 l 6.293 6.293 a 1 1 0 0 0 1.414 -1.414 Z"/>
              </svg>
            </span>
          </button>
          <div>
            <div class="wt-grid wt-grid--block">
              <div class="wt-grid__item-xs-12">
                <div class="wt-bg-white wt-mb-xs-2">
                  <div>
                    <form
                      class="wt-position-relative"
                      #s="ngForm"
                      (ngSubmit)="onSignIn(s)"
                    >
                      <div class="wt-grid wt-grid--block">
                        <div class="wt-grid__item-xs-12">
                          <div>
                            <div
                              class="wt-display-flex-xs wt-justify-content-space-between wt-align-items-center wt-pb-xs-2"
                            >
                              <h1
                                class="wt-text-title-02"
                                id="join-neu-overlay-title"
                              >
                                Sign in
                              </h1>
                            </div>
                          </div>

                          <div class="tags-section-container tag-cards-section-container-with-images">
                            <ul class="wt-display-flex-xs tag-cards-with-image wt-flex-wrap">
                              <li
                                class="wt-display-flex-xs wt-flex-direction-column-xs wt-ml-xs-1 wt-mr-xs-1 wt-mt-xs-2 wt-mb-xs-4"
                                *ngFor="let item of defaultUserUrls | keyvalue"
                                (click)="onSelectUser(s, item.key)">
                                <a class="wt-transparent-card tag-card-with-image wt-mb-xs-2" href="javascript:void(0)">
                                  <img class="wt-circle wt-horizontal-center tag-image wt-mb-xs-1 wt-b-xs"
                                    src="{{ item.value }}" alt="no-image">
                                  <h4 class="tag-card-title wt-text-caption-title wt-text-center-xs wt-line-height-tight wt-text-truncate--multi-line tag-with-image-text-internal">
                                      {{ item.key }}
                                  </h4>
                                </a>
                              </li>
                            </ul>
                          </div>

                          <div class="wt-mb-xs-2 wt-validation">
                            <label
                              class="wt-mb-xs-1 wt-text-caption-title"
                              for="uniqueId"
                            >
                              Unique ID / Shop name
                            </label>
                            <input
                              class="wt-input"
                              name="uniqueId"
                              #uniqueId="ngModel"
                              ngModel required
                            />
                            <div
                              *ngIf="uniqueId.invalid && (uniqueId.dirty || uniqueId.touched)"
                              class="wt-validation__message wt-mt-xs-1"
                            >Can't be blank</div>
                          </div>

                          <div
                            class="wt-display-flex-xs wt-flex-direction-row-xs wt-justify-content-space-between wt-mb-xs-3"
                          >
                            <div class="wt-checkbox">
                              <input
                                name="persistent"
                                id="persisent"
                                type="checkbox"
                                checked="checked"
                                value="true"
                              />
                              <label for="persisent"> Stay signed in </label>
                            </div>
                            <div class="wt-mt-xs-1">
                              <a
                                class="wt-text-gray wt-text-caption"
                                href="javascript:void(0)"
                                >Forgot your password?</a
                              >
                            </div>
                          </div>

                          <div>
                            <div class="wt-validation">
                              <button
                                name="sign-in"
                                class="wt-btn wt-btn--primary wt-width-full"
                                type="submit"
                              >
                                Sign in
                              </button>
                              <div
                                *ngIf="s?.errors?.signInErrorMsg && s.invalid && (s.submitted || s.touched)"
                                class="wt-validation__message wt-text-center-xs wt-mt-xs-1"
                              >{{ s.errors.signInErrorMsg }}</div>
                            </div>
                          </div>

                          <p class="wt-text-caption wt-text-center-xs wt-mt-xs-3">
                            <a
                              class="wt-text-gray"
                              href="javascript:void(0)"
                            >
                              Trouble signing in?
                            </a>
                          </p>
                        </div>
                      </div>
                    </form>

                    <div>
                      <div
                        class="wt-mb-xs-4 wt-mt-xs-4 wt-bb-xs wt-text-center-xs separator-flush-margins"
                        style="line-height: 0"
                      >
                        <span
                          class="wt-bg-white wt-p-xs-2 wt-vertical-align-bottom wt-text-gray"
                          style="line-height: 0"
                        >
                          OR
                        </span>
                      </div>
                    </div>

                    <form
                      class="wt-position-relative"
                      #r="ngForm"
                      (ngSubmit)="onRegister(r)"
                    >
                      <div class="wt-display-flex-xs wt-flex-direction-column-xs">
                        <div class="wt-grid wt-grid--block">
                          <div class="wt-grid__item-xs-12">
                            <div>
                              <div
                                class="wt-display-flex-xs wt-justify-content-space-between wt-align-items-center wt-pb-xs-2"
                              >
                                <h1
                                  class="wt-text-title-02"
                                  id="join-neu-overlay-title"
                                >
                                  Register
                                </h1>
                              </div>
                            </div>

                            <div class="wt-mb-xs-2 wt-validation">
                              <label
                                class="wt-mb-xs-1 wt-text-caption-title"
                                for="registerUniqueId"
                              >
                                Unique ID / Shop Name
                              </label>
                              <input
                                class="wt-input"
                                name="registerUniqueId"
                                #registerUniqueId="ngModel"
                                ngModel required
                              />
                              <div
                                *ngIf="registerUniqueId.invalid && ( registerUniqueId.dirty || registerUniqueId.touched)"
                                class="wt-validation__message wt-mt-xs-1"
                              >Can't be blank</div>
                            </div>
                            <div class="wt-mb-xs-2 wt-validation">
                              <label
                                class="wt-mb-xs-1 wt-text-caption-title"
                                for="username"
                              >
                                Username / Display Name
                              </label>
                              <input
                                class="wt-input"
                                name="username"
                                #username="ngModel"
                                ngModel required
                              />
                              <div
                                *ngIf="username.invalid && ( username.dirty || username.touched)"
                                class="wt-validation__message wt-mt-xs-1"
                              >Can't be blank</div>
                            </div>

                            <div>
                              <div class="wt-validation">
                                <button
                                  name="register"
                                  class="wt-btn wt-btn--secondary wt-width-full"
                                  type="submit"
                                >
                                  Register
                                </button>
                                <div
                                  *ngIf="r?.errors?.registerErrorMsg && r.invalid && (r.submitted || r.touched)"
                                  class="wt-validation__message wt-text-center-xs wt-mt-xs-1"
                                >{{ s.errors.registerErrorMsg }}</div>
                              </div>
                            </div>

                          </div>
                        </div>

                        <p
                          class="privacy-policy wt-text-caption wt-text-gray wt-mt-xs-3"
                          id="aria-privacy-policy"
                        >
                          By clicking Sign in or Continue with EtsyClone, you agree to EtsyClone's
                          <a
                            title="Terms of Use"
                            href="javascript:void(0)"
                            >Terms of Use</a
                          >
                          and
                          <a
                            title="Privacy Policy"
                            href="javascript:void(0)"
                            >Privacy Policy</a
                          >. EtsyClone may send you communications; you may change your
                          preferences in your account settings. We'll never post
                          without your permission.
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</jw-modal>